

<%= form_for @article do |f| %>
	<% if @article.errors.any? %>
	<div id="error_explanation">
	<h4>
		<%= pluralize(@article.errors.count, "error")%>
		prohibited this article from being saved:
	</h4>
		<ul>
			<% @article.errors.full_messages.each do |msg|%>
			<li><%= msg %></li>
			<%end%>
		</ul>
	</div>
	<% end %>
	<div class="form-group">
		 <%= f.label :title, "Title" %>
		 <%= f.text_field :title ,class: 'form-control'%>
	</div>
	<div class="form-group" required>
		<%= f.label :text, "Text" %>
		<%= f.text_area :text ,class: 'form-control'%>
	</div>
	<div class="form-group" >
	<%= f.submit "Submit", :disable_with => 'Submiting...' ,class: 'btn btn-warning' %>
	</div>
	<% end %>
